<template>
  <v-app>
    <v-container fluid="">
      <v-row>
        <v-col>
          <v-card>
            <v-card-text>
              <v-container fluid="">
                <v-row>
                  <v-col cols="9">
                    <div id="box"></div>
                  </v-col>
                  <v-col cols="3">
                    <v-container fluid>
                      <v-row>
                        <v-col>
                          <v-btn v-if="!conf['stop']" @click="conf['stop'] = true">
                            <v-icon>mdi-pause</v-icon>
                          </v-btn>
                          <v-btn v-if="conf['stop']" @click="conf['stop'] = false">
                            <v-icon>mdi-play</v-icon>
                          </v-btn>
                        </v-col>
                        <v-col>
                          <v-btn style="width: 100%" class="success" v-if="conf['threeD']" @click="switchMode">Switch to 2D Mode</v-btn>
                          <v-btn style="width: 100%" class="success" v-if="!conf['threeD']" disabled>2D Mode</v-btn>
                        </v-col>
                        <v-col>
                          <v-btn style="width: 100%" class="success" v-if="!conf['threeD']" @click="switchMode">Switch to 3D Mode</v-btn>
                          <v-btn style="width: 100%" class="success" v-if="conf['threeD']" disabled>3D Mode</v-btn>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col>
                          <div style="text-align: right">
                            <span>Frame Rate: {{ frameRate }}</span>
                          </div>
                          <v-divider></v-divider>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="8">
                          <v-text-field v-on:keyup.enter.up.down="applyArea" label="Start HZ" type="number" min="0" max="24000" v-model="hzLow"></v-text-field>
                          <v-text-field v-on:keyup.enter.up.down="applyArea" label="End HZ" type="number" min="0" max="24000" v-model="hzHigh"></v-text-field>
                        </v-col>
                        <v-col cols="4">
                          <v-btn class="mt-4" min-height="110" @click="applyArea" style="width: 100%">Apply Area</v-btn>
                        </v-col>
                      </v-row>
                      <v-row style="margin-bottom: -20px; margin-top: -15px">
                        <v-col cols="7">
                          <v-slider label="Resolution" min="0" max="3" v-model="conf.resolution"></v-slider>
                        </v-col>
                        <v-col cols="5">
                          <p class="mt-1">{{ Math.pow(2, 10 + parseInt(conf.resolution)) }} Bytes</p>
                        </v-col>
                      </v-row>
                      <v-divider></v-divider>
                      <v-row>
                        <v-col>
                          <v-text-field type="number" v-model="minDCB" @keyup.enter="applyDCB" label="DCB Low"></v-text-field>
                        </v-col>
                        <v-col>
                          <v-text-field type="number" v-model="maxDCB" min="-150" @keyup.enter="applyDCB" label="DCB High"></v-text-field>
                        </v-col>
                        <v-col>
                          <v-btn
                              class="mt-3"
                              @click="resetDCB"
                          >Reset
                          </v-btn>
                        </v-col>
                        <v-col>
                          <v-btn
                              class="mt-3"
                              @click="applyDCB"
                          >Apply
                          </v-btn>
                        </v-col>
                      </v-row>
                      <v-divider></v-divider>
                      <v-row>
                        <v-col>
                          <v-select
                              label="Interpolation"
                              :items="zoomMode"
                              item-text="name"
                              item-value="value"
                              v-model="conf.zoomMode"
                          ></v-select>
                          <v-select
                              label="Color"
                              :items="colorModeOption"
                              item-text="name"
                              item-value="value"
                              v-model="conf.colorMode"
                          ></v-select>
                          <v-select
                              label="Graph"
                              :items="graphMode"
                              item-text="name"
                              item-value="value"
                              v-model="conf.graph"
                          ></v-select>
                        </v-col>
                      </v-row>
                      <v-divider></v-divider>
                      <v-row>
                        <v-col>
                          <h3>Filter: ({{ filterCalcTime }} ms)</h3>
                          <div style="max-height: 300px; overflow-y: scroll; overflow-x: hidden">
                            <template v-for="(filter,index) in FilterManager.filters">
                              <div class="d-flex">
                                <span class="mr-4">
                                  Filter:
                                <span class="font-weight-bold">
                                    {{ filter.properties.dpName }}
                                </span>|
                                </span>
                                <template v-for="input in filter.properties.inputs">
                                  <span class="font-italic">
                                  {{ input.dpName }}:
                                  </span>
                                  <input
                                      type="number"
                                      v-model="input.value"
                                      style="width:40px; color: lawngreen; cursor: pointer"
                                      class="ml-1"
                                      v-bind:min="input.min"
                                      v-bind:max="input.max"
                                      @change="FilterManager.saveFilter()"
                                  >
                                </template>
                                <v-spacer></v-spacer>
                                <v-icon style="cursor: pointer;" @click="FilterManager.moveFilter(index, index -1)">mdi-arrow-up-bold</v-icon>
                                <v-icon style="cursor: pointer;" @click="FilterManager.moveFilter(index, index +1)">mdi-arrow-down-bold</v-icon>
                                <v-icon style="cursor: pointer;" @click="FilterManager.removeFilter(index)">mdi-delete</v-icon>
                              </div>
                              <v-divider></v-divider>
                            </template>
                          </div>
                          <v-select
                              :items="FilterManager.possibleFilter"
                              item-text="dpName"
                              item-value="name"
                              v-model="addFilterSelectValue"
                              @change="addFilter"
                              label="Add Filter"
                              dense
                          ></v-select>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>


<script>

import Config from "@/js/Config.js"
import FilterManager from "@/js/FilterManagment"
import History from "@/js/History.js"

export default {

  name: 'App',
  data() {
    return {
      conf: Config,
      FilterManager: FilterManager,
      info: History.info,
      hzLow: Config.hzLow,
      hzHigh:Config.hzHigh,
      minDCB:Config.minDCB,
      maxDCB:Config.maxDCB,
      addFilterSelectValue: undefined,
      colorModeOption: [
        {
          name: "Grayscale",
          value: "grayscale"
        },
        {
          name: "Heat",
          value: "heat"
        },
        {
          name: "8 Colors",
          value: "eightColors"
        },
        {
          name: "Green",
          value: "green"
        },
        {
          name: "Oil",
          value: "oil"
        }
      ],
      zoomMode: [
        {
          name: "Cosine",
          value: 0
        },
        {
          name: "Nearest Neighbour",
          value: 1
        },
        {
          name: "Linear",
          value: 2
        },
        {
          name: "Zoom sharp",
          value: 3
        }
      ],
      graphMode: [
        {
          name: "Bars 16",
          value: "bars16"
        },
        {
          name: "Bars 32",
          value: "bars32"
        },
        {
          name: "Bars 64",
          value: "bars64"
        },
        {
          name: "Line",
          value: "line"
        }
      ]
    }
  },
  computed: {
    frameRate() {
      return this.info.frameRate;
    },
    filterCalcTime() {
      return this.FilterManager.calcTime
    }
  },

  methods: {
    addFilter() {
      if (!this.addFilterSelectValue) {
        this.$nextTick(() => {
          this.addFilterSelectValue = null;
        })
        return;
      }

      this.FilterManager.addFilter(this.addFilterSelectValue)

      this.$nextTick(() => {
        this.addFilterSelectValue = null;
      })
    },

    switchMode() {
      this.conf["threeD"] = !this.conf["threeD"];
      let self = this;

      self.conf.reload();
      setTimeout(() => {
      }, 10);
    },

    applyArea() {
      this.checkHZSettings();

      this.conf.hzHigh = this.hzHigh;
      this.conf.hzLow = this.hzLow;
    },

    checkHZSettings() {
      this.hzHigh = parseInt(this.hzHigh);
      this.hzLow = parseInt(this.hzLow);

      this.hzHigh = this.hzHigh < 24000 ? this.hzHigh : 24000;
      this.hzHigh = this.hzHigh > 200 ? this.hzHigh : 200;


      this.hzLow = this.hzLow < 23800 ? this.hzLow : 23800;
      this.hzLow = this.hzLow > 0 ? this.hzLow : 0;

      if (Math.abs(this.hzHigh - this.hzLow) < 200) {
        this.hzLow = this.hzLow + Math.abs(this.hzHigh - this.hzLow) - 200;
      }
      if (this.hzHigh - this.hzLow < 200) {
        this.hzLow = this.hzHigh - 200;
      }
    },

    applyDCB() {

      this.minDCB = parseInt(this.minDCB);
      this.maxDCB = parseInt(this.maxDCB);

      if (this.minDCB < -120) {
        this.minDCB = -120;
      }

      if (this.maxDCB > 0) {
        this.maxDCB = 0;
      }

      if (this.maxDCB < -80) {
        this.maxDCB = -80;
      }

      if (this.minDCB + 20 > this.maxDCB) {
        this.minDCB = this.maxDCB - 20;
      }

      this.conf.minDCB = this.minDCB;
      this.conf.maxDCB = this.maxDCB;
    },

    resetDCB() {
      this.conf.minDCB = this.minDCB = -100;
      this.conf.maxDCB = this.maxDCB = -30;
    }
  },

  mounted() {
    require("@/js/sketch.js")
  }
};
</script>

<style>
#box {
  height: 900px;
  max-width: 1300px;
  overflow-y: hidden;
  outline: solid #000000 3px;
}
</style>
